<div class="columns">
  <div class="column iis-three-quarters">
  {{#if trailer}}
    <section class="section">
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{trailer}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </section>    
  {{/if}}
  </div>
  <div class="column">
    <section class="section">
        <div class="container">
          <img src="https://image.tmdb.org/t/p/original/{{poster}}" alt="movie poster">
        </div>
    </section> 
  </div> 
</div>

<section class="section">
  <div class="container">
    <h1 class="is-size-4 mb-6">Upcoming</h1>
    <div id="carousel-upcoming">
      
      {{#each upcomingMovies}}
          <div class="item">
              <a href="/movies/movie-detail/{{this.id}}">
                  <div class="card-image">
                          <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}" alt="movie poster to {{this.original_title}}">
                  </div>
              </a>
          </div>
      {{/each}}
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h1 class="is-size-4 mb-6">Top Rated</h1>
    <div id="carousel-topRated">
      
      {{#each topRatedMovies}}
          <div class="item">
              <a href="/movies/movie-detail/{{this.id}}">
                  <div class="card-image">
                          <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}" alt="movie poster to {{this.original_title}}">
                  </div>
              </a>
          </div>
      {{/each}}

    </div>
  </div>
</section>
