<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- {{#if user}}
    <h3>Hello {{ user.name }}</h3>
    <a href="auth/logout">Logout</a>
{{else}}
   <a href="auth/register">Sign up</a>
    <br/>
    <a href="auth/login">Login</a> 
{{/if}} --}}


<h2>upcomingMovies</h2>
<ul>
{{#each upcomingMovies}}
    <li>
        {{this.original_title}}
        <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}" alt="movie poster" width="250px">
    </li>


    
{{/each}}
</ul>