<section class="section">
  <div class="container">
    <h1 class="is-size-4 mb-6">User Information</h1>

    <div class="columns">
      <div class="column is-narrow">
        <div class="user-image">
          <img src="{{user.avatarUrl}}"/>
        </div>
      </div>
      <div class="column">
        <div class="mb-3">
          <label class="is-size-7">Name:</label>
          <p class="is-size-5">{{user.name}}</p>
        </div>
        <div class="mb-3">
          <label class="is-size-7">Email Address:</label>
          <h3 class="is-size-5">{{user.email}}</h3>
        </div>
        <div class="mb-3">
          <label class="is-size-7">Favorite Movie:</label>
          <h3 class="is-size-5">{{user.favoriteMovie}}</h3>
        </div>
        <div class="mb-3">
          <a class="has-text-grey" href="/user/profile/edit">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-cog"></i>
              </span>
              <span>
                Edit profile
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


{{#if user.watchlist}}
  <section class="section">
    <div class="container">
      <h1 class="is-size-4 mb-6">Watchlist</h1>
      
      <div id="carousel-watchlist">  
        {{#each user.watchlist}}
            <div class="item">
                <a href="/movies/movie-detail/{{this.movie.id}}">
                    <div class="card-image">
                      <img src="https://image.tmdb.org/t/p/original/{{this.movie.poster_path}}" alt="movie poster to {{this.movie.original_title}}">
                    </div>
                </a>
            </div>
        {{/each}}
      </div>
    </div>
  </section>
{{/if}}
