<section class="section">
  <div class="container columns">
    <div class="column is-4">
      <div class="people-profile" style="background-image:url('https://image.tmdb.org/t/p/original/{{people.profile_path}}')" ></div>
    </div>
    <div class="column ">
      <h2 class="is-size-2">{{people.name}}</h2>
      <h4 class="is-size-5">{{people.birthday}}</h4>
      <h4 class="is-size-6">{{people.place_of_birth}}</h4>
      <i class="">Known for {{people.known_for_department}}</i>
      <p class="mt-5">{{people.biography}}</p>
    </div>
  </div>
</section>

{{#if_eq people.known_for_department 'Acting'}}
    <section class="section">
    <div class="container">
      <h2 class="is-size-4 mb-6">Also seen on</h2>
      
      <div id="carousel-watchlist">  
        {{#each people.movie_credits.cast}}
            <div class="item">
                <a href="/movies/movie-detail/{{this.id}}">
                    <div class="card-image">
                      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}" alt="movie poster to {{this.original_title}}">
                    </div>
                </a>
            </div>
        {{/each}}
      </div>
    </div>
  </section>
 
{{else}}
  
    <section class="section">
    <div class="container">
      <h1 class="is-size-4 mb-6">Other work</h1>
      
      <div id="carousel-watchlist">  
        {{#each people.movie_credits.crew}}
            <div class="item">
                <a href="/movies/movie-detail/{{this.id}}">
                    <div class="card-image">
                      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}" alt="movie poster to {{this.original_title}}">
                    </div>
                </a>
            </div>
        {{/each}}
      </div>
    </div>
  </section>
{{/if_eq}}








