<section class="section cover-hero" style="background-image: url('https://image.tmdb.org/t/p/original/{{backdrop_path}}')">
</section>
<div >
     {{#each this.genre_ids}}
        <span class="genre-tag">{{this}}</span>
      {{/each}}
</div>  

<h2>{{original_title}}</h2>

  <div class="overview">
  <h4>{{overview}}</h4>



</div>

  {{#if watchlist}}
  <form action='/movies/movie-detail/{{id}}/watchlist/remove' method='POST'>
    <button class="btn-remove-watchlist-profile "type="submit">Remove from Watchlist</button>
  </form>
  {{else}}
  <form action='/movies/movie-detail/{{id}}/watchlist/add' method='POST'>
    <button class="btn-remove-watchlist-profile" type="submit">Add to Watchlist</button>
  </form>
  {{/if}}

  <h2>Add a Review</h2>
  <form action='/movies/movie-detail/{{id}}' method='POST'>
      <button type="submit">Send review</button>
    <textarea type='text' name='comment'></textarea>
  </form>


{{#if reviews}}
  <h3>List of reviews:</h3>

  {{#each reviews}}
    <div class="comment">
      <h5>{{this.user.username}}</h5>
      <div class="comment-inline">
        <p>{{this.comment}}</p>
      </div>

        <form action='/movies/movie-detail/{{this.movie}}/delete/{{this._id}}' method="POST">
          <button type="submit">Delete</button>
        </form>
     
    </div>
  {{/each}}
{{/if}}

<h4>Cast:</h4>
<div class="display-row">
<div class="container">
  <div class="row">
  {{#each credits.cast}}
        <div class="our-team">
          <div class="picture">
    <img src="https://image.tmdb.org/t/p/original/{{this.profile_path}}" alt="" width="75px">
            </div>
            <div class="team-content">
    <h3 class="name"><a href="/people/{{this.id}}">{{this.name}}</a> as {{this.character}}</a></h3>
  {{/each}}
          </div>
      </div>
    </div>
</div>
</div>

<h4>Crew:</h4>
<div class="display-row">
<div class="container">
  <div class="row">
      {{#each credits.crew}}
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://image.tmdb.org/t/p/original/{{this.profile_path}}" alt="">
        </div>
        <div class="team-content">
          <h3 class="name"><a href="/people/{{this.id}}">{{this.name}}</a></h3>
          <h4 class="title">{{this.job}}</h4>
          {{/each}}
          </div>
      </div>
    </div>
</div>
</div>


<h4>Recommendations:</h4>

<section class="section">
    <div class="container">
      <div id="carousel-watchlist">
        {{#each recommendations.results}}
        <div class="item">
            <div class="card-image">
            <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="movie poster to {{this.original_title}}">
            </div>
        </div> 
         {{/each}}
      </div>
    </div>
</section>


