<section class="section cover-hero" style="background-image: url('https://image.tmdb.org/t/p/original/{{backdrop_path}}')"></section>

<section class="section movie-information">
  <div class="container">
    <div class="columns">
      <div class="column">
          {{#each genres}}
              <span class="genre-tag">{{this.name}}</span>
          {{/each}}
          <h2 class="is-size-1">{{original_title}}</h2>
          <div class="overview movie-description">
            <h4>{{overview}}</h4>
          <div class="toggle-watchlist">
            {{#if watchlist}}
            <form action='/movies/movie-detail/{{id}}/watchlist/remove' method='POST'>
              <button class="btn-remove-watchlist-profile "type="submit">Remove from Watchlist</button>
            </form>
            {{else}}
            <form action='/movies/movie-detail/{{id}}/watchlist/add' method='POST'>
              <button class="btn-remove-watchlist-profile" type="submit">Add to Watchlist</button>
            </form>
            {{/if}}
          </div>
          </div>
      </div>  
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h4 class="is-size-3 cast-title">Cast</h4>
    <div class="columns is-multiline">
      {{#each credits.cast}}
        <div class="column is-one-third">
          <div class="our-team is-flex is-flex-direction-row card-cast">
            <div class="picture">
                <a class="link"href="/people/{{this.id}}">
              <img src="https://image.tmdb.org/t/p/original/{{this.profile_path}}" alt="">
              </a>
            </div>
            <div class="team-content">
              <h3 class="name is-size-4">
                <a class="link"href="/people/{{this.id}}">{{this.name}}</a>
              </h3>
              <h4 class="name is-size-7">
                as {{this.character}}</a>
              </h4>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h4 class="is-size-3 cast-title">Crew</h4>
    <div class="columns is-multiline">
      {{#each credits.crew}}
        <div class="column is-one-fourth">
          <div class="our-team is-flex is-flex-direction-row card-crew">
            <div class="picture">
              {{#if profile_path}}
              <a class="link"href="/people/{{this.id}}">
                <img src="https://image.tmdb.org/t/p/original/{{this.profile_path}}" alt="">
                </a>
              {{else}}
                <img src="/images/placeholderposter.png" alt="profile picture not found">
              {{/if}}
            </div>
            <div class="team-content">
              <h3 class="name is-size-4">
                <a class="link"href="/people/{{this.id}}">{{this.name}}</a>
              </h3>
              <h4 class="name is-size-7">
                {{this.job}}</a>
              </h4>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="section" id="review-section">
  <div class="container">
    <h3 class="is-size-3">Reviews</h3>
    {{#if reviews}}
      <div class="display-reviews">
        {{#each reviews}}
        <div class="columns review-wrapper">
          <div class="column is-2">
            <div class="review-picture">
              <img class="profile-pic-nave review-size-picture" src="{{this.user.avatarUrl}}"/>
            </div>
          </div>
          <div class="comment-inline pl-0 column is-8">
            <h5 class="is-size-5 username-review">{{this.user.username}}</h5>
            <p class="is-size-6 review-comment">{{this.comment}}</p>
          </div>
          {{#if_eq ../user._id this.user._id}}
            <form class="column is-2 p-0" action='/movies/movie-detail/{{this.movie}}/delete/{{this._id}}' method="POST">
              <button type="submit" class="has-text-grey btn-remove-review">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span>
                    Delete
                  </span>
                </span>
              </button>
            </form>
          {{/if_eq}}
        </div>
          
        {{/each}}
      </div>
    {{/if}}
    
    <div class="review-input">
      <form action='/movies/movie-detail/{{id}}' method='POST'>
        <textarea type='text' name='comment' class="textarea is-success review-text-area" placeholder="Success textarea"></textarea>
        <button class= "btn-remove-watchlist-profile" type="submit">Send review</button>
      </form>
    </div>
  </div>
</section>



<section class="section">
  <div class="container">
    <h4 class="is-size-3 title-recomendation">Recommendations:</h4>
      <div class="container">
        <div id="carousel-recomendation">
          {{#each recommendations.results}}
          <div class="item">
              <div class="card-image">
                <a href="/movies/movie-detail/{{this.id}}">
              <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="movie poster to {{this.original_title}}">
                </a>
              </div>
          </div> 
          {{/each}}
        </div>
      </div>
  </div>
</section>

