<h1>here's your movie</h1>


<h2>{{movie.original_title}}</h2>
<h6>

    {{#each movie.genres}}
       — {{this.name}}
    {{/each}}
</h6>
<br/>
<h4>{{movie.overview}}</h4>
<br/>
<img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt="" width="200px">
<br/>
<h4>Cast:</h4>
<ul>
  {{#each movie.credits.cast}}
    <li>{{this.name}}</li>
  {{/each}}
</ul>

<h4>recommendations</h4>
<ul>
{{#each movie.recommendations.results}}
    <li>{{this.original_title}}</li>
{{/each}}
</ul>



  <a href='/movies/{{movie._id}}'>Send to list</a> <!-- here should be a button to send the movie to the list for the user -->
  <a href='/movies/{{movie._id}}'>To Watch list</a> <!-- here should be a button to send the movie to the Watch list for the user -->
  <!-- User Rate/Ranking the movie -->
  <!-- User Add Review for the movie -->
