<h1>here's your movie</h1>


<h2>{{movie.original_title}}</h2>
<h6>

    {{#each movie.genres}}
       — {{this.name}}
    {{/each}}
</h6>
<br/>
<h4>{{movie.overview}}</h4>
<br/>
<img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt="" width="200px">
<br/>
<h4>Cast:</h4>
<ul>
  {{#each movie.credits.cast}}
  <img src="https://image.tmdb.org/t/p/original/{{this.profile_path}}" alt="" width="75px">
    <li><a href="/people/{{this.id}}">{{this.name}}</a> as {{this.character}}</li>
  {{/each}}
</ul>

<h4>Crew:</h4>
<ul>
  {{#each movie.credits.crew}}
  <img src="https://image.tmdb.org/t/p/original/{{this.profile_path}}" alt="" width="75px">
  <li>{{this.job}}: <a href="/people/{{this.id}}">{{this.name}}</a></li>
  {{/each}}
</ul>

<h4>Recommendations:</h4>
<section class="section">
    <div class="container">
      <div id="carousel-watchlist">
        {{#each movie.recommendations.results}}
        <div class="item">
            <div class="card-image">
            <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt="movie poster to {{this.original_title}}">
            </div>
        </div> 
         {{/each}}
      </div>
    </div>
</section>

<h3>Want to create a Watchlist?</h3>
<a href="/auth/register">Sign in to Popcorn</a>

