<section class="section cover-hero" style="background-image: url('https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}')">
</section>
<section class="section movie-information">
  <div class="container">
    <div class="columns">
      <div class="column">
          {{#each movie.genres}}
              <span class="genre-tag">{{this.name}}</span>
          {{/each}}
          <h2 class="is-size-1">{{movie.original_title}}</h2>
          <div class="overview movie-description">
            <h4>{{movie.overview}}</h4>
          </div>
      </div>  
    </div>
  </div>
 </section> 
 <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-4">
            <div class="is-size-4">
              <div class="buttons ml-4">
                <h3>Want to create a Watchlist?</h3>
                    <a class="btn-register button is-primary mt-4 ml-4"href="/auth/register">Sign up</a>
                      <h3>Have already an account?</h3>
                        <a class="btn-login button is-light mt-4 ml-4" href="/auth/login">Login</a>
              </div>
            </div>
        </div>
      </div>
    </div>
</section>

<section class="section">
  <div class="container">
    <h4 class="is-size-3 cast-title">Cast</h4>
    <div class="columns is-multiline">
      {{#each movie.credits.cast}}
        <div class="column is-one-third">
          <div class="our-team is-flex is-flex-direction-row card-cast">
            <div class="picture">
              <a class="link"href="/people/{{this.id}}">
                <img src="https://image.tmdb.org/t/p/original/{{this.profile_path}}" alt="">
                </a>
            </div>
            <div class="team-content">
              <h3 class="name is-size-4">
                <a class="link"href="/people/{{this.id}}">{{this.name}}</a>
              </h3>
              <h4 class="name is-size-7">
                as {{this.character}}</a>
              </h4>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>



<section class="section">
  <div class="container">
    <h4 class="is-size-3 cast-title">Crew</h4>
    <div class="columns is-multiline">
      {{#each movie.credits.crew}}
        <div class="column is-one-fourth">
          <div class="our-team is-flex is-flex-direction-row card-cast">
            <div class="picture">
              {{#if this.profile_path}}
               <a class="link"href="/people/{{this.id}}">
                <img src="https://image.tmdb.org/t/p/original/{{this.profile_path}}" alt="">
                </a>
              {{else}}
                <img src="/images/placeholderposter.png" alt="profile picture not found">
              {{/if}}
            </div>
            <div class="team-content">
              <h3 class="name is-size-4">
                <a class="link"href="/people/{{this.id}}">{{this.name}}</a>
              </h3>
              <h4 class="name is-size-7">
                {{this.job}}</a>
              </h4>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

  <section class="section">
    <h4 class="is-size-3 title-recomendation">Recommendations:</h4>
        <div class="container">
          <div id="carousel-recomendation">
            {{#each movie.recommendations.results}}
            <div class="item">
                <div class="card-image">
                  <a href="/movies/movie-detail/{{this.id}}">
                <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}" alt="movie poster to {{this.original_title}}">
                </a>
                </div>
            </div> 
            {{/each}}
          </div>
        </div>
  </section>





